<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title></title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: 'Yaldevi', sans-serif;">

        <div class="container">

            <a class="navbar-brand" href="{% url 'post_list' %}">Home</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li><a class="nav-link" href="https://www.google.com">Google</a></li>
            </ul>

            <nav class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'post_new' %}">New Post</a></li>
                      <li><a class="dropdown-item" href="{% url 'post_draft_list' %}">Drafts</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                  </li>
                <!-- <li>
                    <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}"><span class="material-icons">logout</span></a>
                </li>
                <li>
                    <a class="nav-link">Welcome {{user.username}}</a>
                </li> -->
                {% else %}
                <a class="nav navbar-right nav-link" href="{% url 'login' %}"><span class="material-icons" style="font-size:36px;">account_circle</span></a>
                {% endif %}
            </nav>
        </nav>
                <div class="content container">
                    <div class="row">
                        <div class="col-mid-8">
                            <div class="blog-posts">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    
</body>
</html>